<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>843575201947-rcnmsho92qs37odjsi271m1e2q3d7g6v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.843575201947-rcnmsho92qs37odjsi271m1e2q3d7g6v</string>
	<key>API_KEY</key>
	<string>AIzaSyABP-Y_TymOgTjgq6fRUGfi0lUyEo4rcVA</string>
	<key>GCM_SENDER_ID</key>
	<string>843575201947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>site.bethelmmadu.notee</string>
	<key>PROJECT_ID</key>
	<string>notee-note-taker</string>
	<key>STORAGE_BUCKET</key>
	<string>notee-note-taker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843575201947:ios:aeb87c8f864339042e363e</string>
</dict>
</plist>